# The file marking the repo as installed (will be present after running
# the install script)
.dotfiles_installed

# Ignore files in the backup folder, which are backups made during the initial install.
backup/

# Ignore the test directory, used for developing test scripts:
test/

# Python {{{
# Compiled Python files
*.pyc
# Python cache
__pycache__
# }}}

# Folder view configuration files
.DS_Store
Desktop.ini

# Ctags
tags
tags.lock
tags.temp

# Ignore all log files
*.log

# Compiled object files
*.o

# Libraries
*.so
*.a

# broot {{{
# Don't ignore the config file, but ignore everything else
link/config/broot/*
!link/config/broot/conf.hjson
# }}}

# LSP / Visual Studio Code metadata {{{
.vscode/
# }}}

# Eclipse {{{
# Eclipse config cache
link/config/mimeapps.list
link/config/jgit/
# }}}

# Extra config directories to ignore
link/config/dconf/
link/config/pulse/
link/config/configstore/

# Ignore local desktop menu config
link/config/menus

# Vim {{{
link/vim/backups
# Ignore all vim-plug managed plugins.
link/vim/plugged
# Do not track vim-plug's init file, since we download it automatically.
link/vim/autoload/plug.vim
# Saved vim sessions.
link/vim/sessions
link/vim/swaps
# History file for netrw
link/vim/.netrwhist
# }}}

# caja
link/config/caja

# Neovim {{{
link/config/nvim/backups
link/config/nvim/swaps
link/config/nvim/undo
link/config/nvim/.netrwhist
# The compiled package manifest for Neovim.
link/config/nvim/plugin/packer_compiled.vim
# Ignore downloded Neovim releases.
link/config/nvim/.releases

# coc.nvim {{{
link/config/coc/commands
link/config/coc/explorer-actions
link/config/coc/history.json
link/config/coc/list-extensions-history.json
link/config/coc/list-files-history.json
link/config/coc/list-lists-history.json
link/config/coc/lists
link/config/coc/memos.json
link/config/coc/mru
link/config/coc/snippets-mru
link/config/coc/list-links-history.json
link/config/coc/extensions/*
!/link/config/coc/extensions/package.json
# }}}

# }}}

link/config/configstore/update-notifier-npm.json

# Ignore saved autorandr profiles since they are largely hardware-dependent
link/config/autorandr

# TabNine {{{
link/config/TabNine/*
!link/config/TabNine/tabnine_config.json
# }}}

# Emacs {{{
# Emacs backup files
*~
*#*

# Compiled Emacs lisp files
*.elc

# .emacs backup file(s) created by ECB
.emacs.before*

# Auto-generated Emacs config files based on org-mode source files
my-init.el
cedet-rc.el

# Other auto-generated Elisp files from Org files
**/plugin-notebook/*.el

# Emacs straight package manager
link/emacs/straight/build*
link/emacs/straight/modified
link/emacs/straight/repos
# }}}

# ccls
.ccls-cache

# Do not track files in the 'secure' folder
secure/

# Brave browser metadata
link/config/BraveSoftware

# Mutt/Neomutt {{{
link/config/mutt/cache
# Do not store mutt aliases
link/config/mutt/aliases
# Do not track Mutt themes (it's a separate repo now)
link/config/mutt/themes
link/config/mutt/mutt-themes
# }}}

# Awesome WM {{{

# Do not track vendor features repos for Awesome WM
link/config/awesome/awesome-*
# Ignore custom set wallpaper
link/config/awesome/wallpaper/
# }}}

# Ranger {{{

# Do not track Ranger plugins
link/config/ranger/plugins
# Do not track Ranger colorshemes since we clone this repository
link/config/ranger/colorschemes
# }}}

# nnn {{{
# Ignore installed nnn plugins
link/config/nnn/plugins*.tar.gz
link/config/nnn/plugins/
# }}}

# Ignore libreoffice config
link/config/libreoffice

# cmus {{{
link/config/cmus/autosave
link/config/cmus/cache
link/config/cmus/command-history
link/config/cmus/lib.pl
# }}}

# Ignore chromium config by defaul
link/config/chromium

# Authy {{{
# Authy local configuration files
link/config/Authy\ Desktop
# }}}

# ZSH {{{
# Completion database files.
shell/zsh/zdotdir/.zcomp*
# Extra completion files that should not be tracked.
shell/zsh/zdotdir/git-completion.bash
shell/zsh/zdotdir/_git
# History file
shell/zsh/zdotdir/.zsh_history
# }}}

# OS X / macOS {{{
# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
link/config/iterm2
# }}}

# vim:foldenable:foldmethod=marker
