# EditorConfig is awesome: https://EditorConfig.org

# EditorConfig is an editor-agnostic system for defining common editor
# preferences, such as whether to use tabs or spaces, indentation size, end of
# line styles, character encoding, and more.

# This is the top-most EditorConfig file
root = true

### Universal Rules ###
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
### Supported by only a limited number of editors ###
### Check the EditorConfig website for list of supported editors ###
# Possible valules: number, "off"
max_line_length = 80

### Kotlin ###
[*.{kt,kts}]
# possible values: number (e.g. 2), "unset" (makes ktlint ignore indentation
# completely)
# Default: 4
indent_size = 4
# Possible values: <number> (e.g. 120) (package name, imports & comments are
#                                       ignored),
#                  "off"
# It's automatically set to 100 on `ktlint --android ...`
# (per Android Kotlin Style Guide)
# Default: off
max_line_length = off
# Options beginning with "ij" are IntelliJ-specific.
# These options configure whether trailing commas should be removed
# (the default) or added at each applicable call site.
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_line_comment_at_first_column = false
ij_kotlin_line_comment_add_space = true
# These options can keep to use single name import
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
# Blank lines
ij_kotlin_keep_blank_lines_in_declarations = 1
ij_kotlin_keep_blank_lines_in_code = 1
ij_kotlin_keep_blank_lines_before_right_brace = 0
# optional but recommended
ij_kotlin_align_multiline_parameters = false
# optional but recommended
ij_continuation_indent_size = 4
# Android specific rules
ij_kotlin_import_nested_classes = false
ij_kotlin_imports_layout = *,^

### GNU Makefiles ###
[Makefile]
# Makefiles must use tab characters instead of spaces for indentation
indent_style = tab

### Org documents ###
[*.org]
# Emacs requires Org files to have the default tab size of 8, for some reason.
tab_width = 8

### Perl ###
[*.{pl,plx}]
# 4 spaces per indent in Perl code
indent_size = 4

### Python ###
[*.py]
# 4 spaces per indent in Python code
indent_size = 4

### UltiSnips ###
[*.snippets]
# Indent UltiSnips snippet files with tabs
indent_style = tab
