# Set the installation directory for all globally installed packages.
# NOTE: Do NOT set this prefix when using nvm!
#       nvm manages its own package install prefixes, and this option will
#       conflict with them, making nvm unusable.
#prefix=~/.npm-global
