#!/usr/bin/env bash

# This file is a shell script that the X server runs before the Window Manager
# starts, and thus acts as a place to configure services and start other one-
# time applications before you are dropped into a graphical session.
#
# You do not want to store such configuration in ~/.bashrc or other shell
# profile because they are tied to a particular shell environment
# (i.e., terminal) which is not only logically incohesive with starting global
# services, but could also cause duplicate service sessions to be created.

# Variables {{{
DOTFILES_HOME="${HOME}/.dotfiles"
# }}}

# Set PATH {{{
# PATH="/sbin:${PATH}"
# PATH="/usr/sbin:${PATH}"
# PATH="/usr/local/bin:${PATH}"
# PATH="${HOME}/bin:${PATH}"
# PATH="${HOME}/.local/bin:${PATH}"
# export PATH
. "${DOTFILES_HOME}/shell/common/source/functions/functions_path.sh"
src
# }}}

# Functions {{{

# Conditionally start a program in the background if such a program exists
# on the system.
start_program_if_available() {
  local cmd="$1"
  shift
  local opts="${*}"
  local cmdString="${cmd}"

  if [ -n "${opts}" ]; then
    cmdString="${cmdString} ${opts}"
  else
    warn "No options given for program ${cmd} in .xprofile"
  fi

  if [ -n "$(command -v "${cmd}")" ]; then
    eval "${cmdString}"
  else
    err "Program ${cmd} not found in PATH"
    return 1
  fi
}
# }}}

# Set X user preferences
if [ -x "$(command -v xset)" ]; then
  # Set the keyboard typing rate/delay to increase input speed.
  # rate  = first number
  # delay = second number
  # Not currently setting the repeat delay
  # xset r rate 190 38
  xset r rate 190
fi

# Start Pulseaudio
start_program_if_available "pulseaudio" "--start &"

# Start XScreenSaver
start_program_if_available "xscreensaver" "-no-splash &"

# Start the compositing manager in the background
start_program_if_available "picom" "-b -c -C -G"

# (Re-)start the PulseAudio daemon
start_program_if_available "pulseaudio" "--kill"
start_program_if_available "pulseaudio" "--start"

# Start light-locker screen locker daemon
# Kind of annoying, so only use it if you're someplace public
# start_program_if_available "light-locker" "&"

# Merge the .Xresources file into xrdb database
[ -f "${HOME}/.Xresources" ] && xrdb -merge "${HOME}/.Xresources"

# Send nvidia-settings config to X server, if applicable
if [ -x "$(command -v nvidia-settings)" ]; then
  nvidiaSettingsConfig="${HOME}/.nvidia-settings-rc"
  if [ -x "$(command -v nvidia-settings)" ] &&
    [ -f "${nvidiaSettingsConfig}" ]; then
    nvidia-settings --load-config-only
  fi
  unset nvidiaSettingsConfig
fi

# Start up a saved xrandr multihead session, if available
if [ -x "$(command -v autorandr)" ]; then
  autorandrProfile="$(autorandr --detected | head -1)"
  if [ -x "$(command -v autorandr)" ] && [ -n "${autorandrProfile}" ]; then
    # To save an autorandr profile, use xrandr to configure your multihead
    # settings, and then run:
    #  autorandr --save "<profile_name>"
    autorandr --load "${autorandrProfile}"
  fi
  unset autorandrProfile
fi

# Modeline for this file (LEAVE IT COMMENTED!)
# vim:foldenable:foldmethod=marker:foldlevel=0
